.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 100px; /* Adjust this to match your navbar width */
}
nav {
  position: fixed;
  width: 150px;
  height: 100%;
  background-color: #d2d2d2;
  padding: 10px;
  text-align: left;
  margin-top: 100px;
}
